* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: "lato";
    src: url('../fonts/lato/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "lato";
    src: url('../fonts/lato/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "roboto-condensed";
    src: url('../fonts/lato/Roboto_Condensed/RobotoCondensed-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "material-icons";
    src: url('../fonts/lato/icons/MaterialIcons-Regular.ttf'), url('../fonts/lato/icons/MaterialIcons-Regular.woff2') format('woff2'), url('../fonts/lato/icons/MaterialIcons-Regular.woff') format('woff');
}

@keyframes my-animation {
    from {
        transform: translatex(100px);
    }
    to {
        transform: translatex(0);
    }
}


/* @keyframes my-animation-food2 {
    from {
        transform: translatex(0);
    }
    to {
        transform: translatex(-4vw);
        background-color: initial;
    }
} */

@keyframes my-animation-food {
    0% {
        transform: translatex(100px);
    }
    100% {
        transform: translatex(0);
        background-color: initial;
    }
}

@keyframes my-animation-pacman {
    0% {
        background-color: orangered;
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: orangered;
    }
}

.material-icons {
    font-family: 'Material-Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    color: red;
}

.botones:valid {
    border-color: green;
}

.botones::placeholder {
    font-family: "lato";
    font-weight: 400;
    font-style: italic;
}

.botones:hover {
    background-color: black;
    color: white;
}

.botones:focus {
    border-color: orange;
}

.botones:invalid {
    border-color: red;
}

.pacman {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    background-color: orangered;
    clip-path: circle(50% at 50% 50%);
    position: relative;
}

.triangulo {
    clip-path: polygon(0 50%, 100% 0, 100% 99%);
    top: 30%;
    left: 50%;
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    animation-name: my-animation-pacman;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.ojo {
    clip-path: circle(50% at 50% 50%);
    background-color: black;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
}

.comida-1 {
    align-items: center;
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    animation-name: my-animation-food;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    top: 45%;
    left: 8%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.comida-2 {
    align-items: center;
    background-color: white;
    height: 50px;
    width: 50px;
    animation-name: my-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 45%;
    left: 15%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.comida-3 {
    align-items: center;
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    animation-name: my-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    top: 45%;
    left: 20%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

div.fonts-lato {
    font-family: "lato";
    font-weight: 700;
    font-style: normal;
}

.contenedor-1 {
    font-family: "lato";
    font-weight: 400;
    font-style: italic;
    background-color: white;
}

.contenedor-2 {
    display: flex;
    position: relative;
}

body {
    background-color: gray;
}

.contenedor-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #4285f4;
    padding-right: 2rem;
    align-items: center;
    position: sticky;
}

.imagen-header>img {
    width: 10rem;
    height: 5rem;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
    margin: 1rem;
}

.bloque-aside {
    background-color: rgb(128, 160, 201);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.contenedor-main {
    display: flex;
    justify-content: space-between;
}

.bloque-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bloque-card-1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 320px;
    position: relative;
}

.bloque-card-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 320px;
    position: relative;
}

.bloque-card-3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 320px;
    position: relative;
}

.bloque-card-1>img {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.bloque-card-2>img {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.bloque-card-3>img {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.bloque-position {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px black;
    left: 50px;
    top: 100px;
}

.bloque-encabezado {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.bloque-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    padding: 1rem;
    text-transform: uppercase;
}

.bloque-btn {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

button {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: crimson;
    width: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: maroon;
    cursor: pointer;
}

footer {
    background-color: black;
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 0;
    text-align: center;
}