    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: gray;
    }
    
    .contenedor-flex {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: #4285f4;
        padding-right: 2rem;
        align-items: center;
    }
    
    li {
        list-style: none;
    }
    
    .imagen-header>img {
        width: 10rem;
        height: 5rem;
    }
    
    h1 {
        text-transform: uppercase;
        font-size: 3rem;
    }
    
    .contenedor-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 2rem;
        margin: 1rem;
    }
    
    .bloque-aside {
        background-color: rgb(128, 160, 201);
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
    .contenedor-main {
        display: flex;
        justify-content: space-between;
    }
    
    .bloque-article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .bloque-card-1 {
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 320px;
        position: relative;
    }
    
    .bloque-card-2 {
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 320px;
        position: relative;
    }
    
    .bloque-card-3 {
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 320px;
        position: relative;
    }
    
    .bloque-card-1>img {
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    }
    
    .bloque-card-2>img {
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    }
    
    .bloque-card-3>img {
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    }
    
    .bloque-position {
        position: absolute;
        color: white;
        text-shadow: 2px 2px 5px black;
        left: 50px;
        top: 100px;
    }
    
    .bloque-encabezado {
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
    }
    
    .bloque-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
        padding: 1rem;
        text-transform: uppercase;
    }
    
    .bloque-btn {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    
    button {
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        background-color: crimson;
        width: 50%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        border: none;
        transition-duration: 0.4s;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    button:hover {
        background-color: maroon;
        cursor: pointer;
    }
    
    footer {
        background-color: black;
        font-size: 2rem;
        color: white;
        padding: 1rem 2rem 2rem 2rem;
        margin-bottom: 0;
        text-align: center;
    }