.button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.all-button {
    padding:.5rem;
    border:none;
    min-width:100px;
    border-radius: 10%;
    background-color: lightgrey;
    margin:0.5rem;
}

.first-button {
background-color: --;

}

.primary-button{
    background-color: lime;

}

.success-button {
background-color: mediumblue;
}