body {
    background-color: burlywood;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: ;
}

h2 {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}