body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 255);
    display: flex;
    font-family: 'ABeeZee', sans-serif;
    max-height: 100%;
    flex-wrap: wrap;
    height: 200px;
    flex-direction: row;
    
}

.title{
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 30px;
}

.card{
    margin: 2%;
    width: 18%;
    background-color: white;
    flex: 0 0 300px;
    flex-direction: column;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.2);
    align-items: stretch;
}

.text-day{
    text-align: left;
    margin-bottom: 5px;
    color: rgb(134, 130, 130);
}

.div-img{
    position: relative;
}

.titleimg{
    position: absolute;
    top: 30px;
    /* flex-wrap: wrap;
    margin: auto; */
    color: white;
    width: 100%;
    padding: 8px;
}

.img-foto{
    max-width: 100%;
    margin-bottom: 10px;
    display: block;
    height: 150px;
}

.descript-card{
    margin-bottom: 30px;
}

.text-container {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(26, 25, 25);
    text-align: left;
}

.div-link{
    padding-top: 12px;
    padding-bottom: 25px;
}

.link-info{
    font-size: 15px;
    width: 100%;
    margin: 15px;
    text-align: left;
}

